<template>
  <div>

    <!--Stats cards--> 
    <div class="row">
      <div class="col-md-6 col-xl-3">
        <stats-card>
          <div class="icon-big text-center icon-warning" slot="header">
            <i class="ti-server"></i>
          </div>
          <div class="numbers" slot="content">
            <p>Total Payments</p>
                {{ total_payments }}
          </div>
          <div class="stats" slot="footer">
            <a href="#"><i class="ti-eye"></i> View</a>
          </div>
        </stats-card>
      </div>

      <div class="col-md-6 col-xl-3">
        <stats-card>
          <div class="icon-big text-center icon-warning" slot="header">
            <i class="ti-server"></i>
          </div>
          <div class="numbers" slot="content">
            <p>Total Active Insurance</p>
                {{ active_insurance }}
          </div>
          <div class="stats" slot="footer">
            <a href="#"><i class="ti-eye"></i> View</a>
          </div>   
        </stats-card>
      </div>

      <div class="col-md-6 col-xl-3">
        <stats-card>
          <div class="icon-big text-center icon-warning" slot="header">
            <i class="ti-server"></i>
          </div>
          <div class="numbers" slot="content">
            <p>Total Customers</p>
                {{ total_customers }}
          </div>
          <div class="stats" slot="footer">
            <a href="#"><i class="ti-eye"></i> View</a>
          </div>
        </stats-card>
      </div>
    </div>

    <!--Charts-->
    <div class="row"> 

      <div class="col-md-6 col-12">
        <chart-card title="Quotation and Finalized Insurance"
                    sub-title=""
                    :chart-data="preferencesChart.data"
                    chart-type="Pie">
          <span slot="footer">
            <i class="ti-timer"></i> By Current Year</span>
          <div slot="legend">
            <i class="fa fa-circle text-info"></i> Quote 
            <i class="fa fa-circle text-warning"></i> Final
          </div>
        </chart-card>
      </div>

      <!-- <div class="col-md-6 col-12">
        <chart-card title="Monthly Payment Summary"
                    sub-title="By Current Year"
                    :chart-data="activityChart.data"
                    :chart-options="activityChart.options">
          <span slot="footer">
            <i class="ti-check"></i> Data information certified
          </span>
          <div slot="legend">
            <i class="fa fa-circle text-info"></i> w/ Act of Nature
            <i class="fa fa-circle text-warning"></i> w/o Act of Nature
          </div>
        </chart-card>
      </div> -->

      <!-- <div class="col-12">
        <chart-card title="Users behavior"
                    sub-title="24 Hours performance"
                    :chart-data="usersChart.data"
                    :chart-options="usersChart.options">
          <span slot="footer">
            <i class="ti-reload"></i> Updated 3 minutes ago
          </span>
          <div slot="legend">
            <i class="fa fa-circle text-info"></i> Open
            <i class="fa fa-circle text-danger"></i> Click
            <i class="fa fa-circle text-warning"></i> Click Second Time
          </div>
        </chart-card>
      </div> -->


    </div>

  </div>
</template>
<script>
import { StatsCard, ChartCard } from "@/components/index";
import Chartist from 'chartist';
import { mapState, mapGetters} from "vuex";
export default {
  components: {
    StatsCard,
    ChartCard
  },
  /**
   * Chart data used to render stats, charts. Should be replaced with server data
   */
  data() {
    return {
      //cards
      total_payments: 0,
      active_insurance: 0,
      total_customers: 0, 
 
      //charts
      usersChart: {
        data: {
          labels: [
            "9:00AM", "12:00AM", "3:00PM", "6:00PM", "9:00PM", "12:00PM", "3:00AM", "6:00AM"
          ],
          series: [
            [287, 385, 490, 562, 594, 626, 698, 895, 952],
            [67, 152, 193, 240, 387, 435, 535, 642, 744],
            [23, 113, 67, 108, 190, 239, 307, 410, 410]
          ]
        },
        options: {
          low: 0,
          high: 1000,
          showArea: true,
          height: "245px",
          axisX: {
            showGrid: false
          },
          lineSmooth: Chartist.Interpolation.simple({
            divisor: 3
          }),
          showLine: true,
          showPoint: false
        }
      },
      activityChart: {
        data: {
          labels: [
            "Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"
          ],
          series: [
            [542, 543, 520, 680, 653, 753, 326, 434, 568, 610, 756, 895],
            [230, 293, 380, 480, 503, 553, 600, 664, 698, 710, 736, 795]
          ]
        },
        options: {
          seriesBarDistance: 10,
          axisX: {
            showGrid: false
          },
          height: "245px"
        }
      },


      
    };
  },

  computed: {
      ...mapState("dashboard", ["errors", "dataCounts", "preferencesChart"]),  
  },

  created(){
    this.viewCounts();    
  },

  methods: {
    async viewCounts() {  
        await this.$store.dispatch("dashboard/view").then(() => {   
 
            this.total_payments = this.dataCounts.total_payments;
            this.active_insurance = this.dataCounts.active_insurance;
            this.total_customers = this.dataCounts.total_customers;

            let quoteLabel = this.dataCounts.avg_quotes + "%";
            let finalLabel = this.dataCounts.avg_final + "%";
 
        }); 
    },
  },


};
</script>
<style>
</style>
