<template>
    <div>
        <!-- Modals -->
        <b-modal no-close-on-backdrop
                 id="form-sms" class="modal-form"
                 size="lg modal-lg"
                 variant="primary"
                 title="New Sms">
            <b-container fluid>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <fg-input type="text"
                                      label="Title"
                                      placeholder="Enter Sms Title"
                                      class="border-input">
                            </fg-input>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <fg-input type="text"
                                      label="Description"
                                      placeholder="Enter Description"
                                      class="border-input">
                            </fg-input>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <transition name="fade">
                            <p v-if="showTarget">hello</p>
                        </transition>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Message</label>
                            <textarea rows="2" class="form-control border-input"
                                      placeholder="Message"
                                      @keyup='charCount()'
                                      v-model='message'>
                            </textarea>

                            <div class="float-right"><i class="text-right">
                                <span> {{ characterCount }} /160</span></i>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-12">
                        <b-form-group label="Bucket ID"
                                      label-for="Bucket ID">
                            <b-form-select
                                    id="bucket_id"
                                    v-model="selectedBucket"
                                    v-on:change="bucketChange"
                                    :options="bucket_id">

                            </b-form-select>
                        </b-form-group>
                    </div>
                    <div class="col-sm-12">
                        <paper-table class="custom-table" :data="targetData" :columns="targetColumns" type="hover">
                            <template slot-scope="{row}">
                                <td>
                                    <b-form-checkbox value="row.id"></b-form-checkbox>
                                </td>
                                <td>{{row.id}}</td>
                                <td>{{row.name}}</td>
                                <td>{{row.mobile}}</td>

                            </template>
                        </paper-table>

                    </div>
                    <div class="col-sm-6">
                        <b-form-group label="Frequency"
                                      label-for="Frequency">
                            <b-form-select
                                    id="frequency"
                                    v-model="selectedFrequency"
                                    :options="frequency">

                            </b-form-select>
                        </b-form-group>
                    </div>
                </div>
            </b-container>
            <div slot="modal-footer">
                <b-btn variant="danger" class="mr-1 btn-cancel" @click="handleCancel('form-sms')">
                    Cancel
                </b-btn>
                <b-btn  variant="info" class="ml-1" @click="handleSave('form-sms')">
                    Save
                </b-btn>
            </div>
        </b-modal>
        <!--End of add modal-->
        <b-tabs class="b-tabs">
            <b-tab  class="b-tab" title="Sms Notifications" active >
                    <div class="row clearfix">
                        <div class="col-md-2">
                            <b-button
                                    variant="info btn-table-add"
                                    @click="createSms('form-sms')" >+  New Sms
                            </b-button>
                        </div>
                    </div>
                    <paper-table  :data="tableData" :columns="tableColumns" type="hover">
                        <template slot="columns" >
                                <th>Id</th>
                                <th>Name</th>
                                <th>Description</th>
                                <th>Status</th>
                                <th>Time</th>
                                <th>Frequency</th>
                                <th>Operations</th>
                        </template>
                        <template slot-scope="{row}">
                            <td>{{row.id}}</td>
                            <td>{{row.name}}</td>
                            <td>{{row.description}}</td>
                            <td>{{row.status}}</td>
                            <td>{{row.time}}</td>
                            <td>{{row.frequency}}</td>
                            <td>
                                <p-button type="info" size="sm" icon @click.native="handleEdit(row)">
                                    <i class="ti ti-pencil-alt"></i>
                                </p-button>
                                <p-button style="margin-left: 5px;" size="sm"  type="danger" icon @click.native="handleDelete(row)">
                                    <i class="ti ti-close"></i>
                                </p-button>
                            </td>
                        </template>
                    </paper-table>
            </b-tab>

            <b-tab title="Email Notifications"><p>I'm the second tab</p></b-tab>

        </b-tabs>
    </div>
</template>
<script>
    import { PaperTable } from "@/components";

    export default {
        components: {
            PaperTable
        },
        data() {
            return {
                showTarget : false,
                characterCount : 0,
                message: "",
                tableColumns:  ["Id", "Name", "Description", "Status", "Time","Frequency","Operations"],
                targetColumns:  ["Select","Id", "Name", "Mobile"],
                targetData:  [
                    {id: 1 , name: "Sample 1", mobile: "09999098989"},
                    {id: 2 , name: "Sample 2", mobile: "09999091111"},
                    {id: 3 , name: "Sample 3", mobile: "09999090882"},
                    {id: 4 , name: "Sample 4", mobile: "09999098989"},
                    {id: 5 , name: "Sample 5", mobile: "09999091111"},
                    {id: 6 , name: "Sample 6", mobile: "09999090882"},
                    {id: 7 , name: "Sample 7", mobile: "09999098989"},
                    {id: 8 , name: "Sample 8", mobile: "09999091111"},
                    {id: 9 , name: "Sample 9", mobile: "09999090882"},
                    {id: 10 , name: "Sample 10", mobile: "09999090882"}

                ],
                tableData: [
                    {
                        id: 1,
                        name: "Test SMS",
                        description: "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s",
                        status: "Done",
                        time: "08:00",
                        frequency : "Weekly"
                    },
                    {
                        id: 2,
                            name: "Test SMS 2 ",
                        description: "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s",
                        status: "Done",
                        time: "09:00",
                        frequency : "Everyday"
                    },
                    {
                        id: 3,
                            name: "Test SMS 3",
                        description: "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s",
                        status: "Done",
                        time: "10:00",
                        frequency : "Weekly"
                    },
                    {
                        id: 4,
                            name: "Test SMS 4",
                        description: "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s",
                        status: "Done",
                        time: "11:00",
                        frequency : "Everyday"
                    },
                    {
                        id: 5,
                            name: "Test SMS",
                        description: "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s",
                        status: "Done",
                        time: "08:00",
                        frequency : "Everyday"
                    }
                ],
                selectedBucket: null,
                selectedFrequency: null,
                selectedTarget: [],
                bucket_id: [
                    { value: null, text: 'Please select bucket' },
                    { value: 'b1', text: "Bucket 1" },
                    { value: 'b2', text: "Bucket 2" },
                    { value: 'b3', text: "Bucket 3" },
                ],
                frequency: [
                    { value: null, text: 'Please select SMS frequency' },
                    { value: 'daily', text: "Daily" },
                    { value: 'weekly', text: "Weekly" },
                    { value: 'monthly', text: "Monthly" },
                ],
            };
        },

        methods: {
            showModal(modal) {
                this.$root.$emit("bv::show::modal", modal);
            },
            hideModal(modal) {
                this.$root.$emit("bv::hide::modal", modal);
            },
            handleCancel(modal) {
                this.hideModal(modal);
            },
            handleSave(modal) {
                this.hideModal(modal);
            },
            async createSms(modal) {
                await this.showModal(modal);
            },
            viewBucket(data) {
                this.show_info = true;
                console.log(data);
            },
            bucketChange(bucket_id){
                this.showTarget = true;
                //this.$root.$emit('bv::state::collapse', 'my-collapse-id',true);
                //console.log('State' , this.$root.$emit('bv::collapse::state','collapse-target', 'true'));
            },
            charCount: function(){

                this.characterCount = this.message.length;

            }

        }
    };
</script>
<style>
</style>
