<template>
    <div class="wrapper">  
        <div class="login-panel">
            <div class="content" style="padding: 30px 15px; min-height: calc(100% - 123px);">
                <div class="container-fluid">
                    <div class="row"> 
            
                        <div class="col-md-4"> 
                        </div>
                        <div class="col-md-4">
                            <card class="card" title="IMS Login">
                                <form @submit.prevent>
                                    <div class="row">   
                                        <div class="col-md-12">
                                            <fg-input 
                                                type="text" 
                                                placeholder="username" 
                                                addon-left-icon="ti ti-user"
                                                v-model="form.username"
                                                >
                                            </fg-input>
                                        </div> 
                                    </div>
                                    <div class="row"> 
                                        <div class="col-md-12"> 
                                            <fg-input  
                                                    placeholder="Password" 
                                                    addon-left-icon="ti ti-key"
                                                    type="password"
                                                    v-model="form.password"
                                                    >
                                            </fg-input>
                                        </div>
                                    </div> 
                                    <div class="text-center">
                                    <p-button type="success" 
                                                size="lg"
                                                outline 
                                                @click.native.prevent="login"
                                            >
                                        Login
                                    </p-button>
                                    </div>
                                    <div class="clearfix"></div>
                                </form> 
                            </card>
                        </div>
                        <div class="col-md-4"> 
                        </div>
                    </div>
                </div>
            </div>

        </div>
        
    </div>
 
</template>
<script>  
import { mapState } from "vuex";
export default {
    name: "LoginPage", 
    data() {
        return { 
            show: true,
            form: {
                username: null, 
                password: null,  
            },
             
        }
    },
    computed: {
        ...mapState("auth", {
            loading: state => state.loading,
            errors: state => state.errors,
            message: state => state.message
        }),
    },
    methods:{
        login(){     
            this.$store.dispatch("auth/login", {
                username: this.form.username, 
                password: this.form.password, 
            }); 
        },
        
    }
};
</script>
