<template>
   <div>
       <b-form>
        <div v-if="step === 1">
          
            <card class="card" :title="cardTitle1" :backButton="backButton" :backRoutes="backRoutes" :backData="customer"> 
              <div class="row clearfix">
                  <div class="col-md-4">
                    <b-form-group 
                        label="Model #:" 
                        label-for="model_no"
                        :state="isValid('model_no')"
                        :invalid-feedback="errorMessage('model_no')"
                        >
                            <b-form-input
                            id="model_no"
                            v-model="form.model_no"
                            required
                            placeholder="model_no"
                            ></b-form-input>
                    </b-form-group>

                    <b-form-group 
                        label="Make:" 
                        label-for="make"
                        :state="isValid('make')"
                        :invalid-feedback="errorMessage('make')"
                        >
                            <b-form-input
                            id="make"
                            v-model="form.make"
                            required
                            placeholder="make"
                            ></b-form-input>
                    </b-form-group>
 
                    <b-form-group 
                        label="CS #:" 
                        label-for="cs_no"
                        :state="isValid('cs_no')"
                        :invalid-feedback="errorMessage('cs_no')"
                        >
                            <b-form-input
                            id="cs_no"
                            v-model="form.cs_no"
                            required
                            placeholder="cs_no"
                            ></b-form-input>
                    </b-form-group>

                    <b-form-group 
                        label="VIN:" 
                        label-for="vin"
                        :state="isValid('vin')"
                        :invalid-feedback="errorMessage('vin')"
                        >
                            <b-form-input
                            id="vin"
                            v-model="form.vin"
                            required
                            placeholder="vin"
                            ></b-form-input>
                    </b-form-group>

                    <b-form-group 
                        label="VSI:" 
                        label-for="vsi"
                        :state="isValid('vsi')"
                        :invalid-feedback="errorMessage('vsi')"
                        >
                            <b-form-input
                            id="vsi"
                            v-model="form.vsi"
                            required
                            placeholder="vsi"
                            ></b-form-input>
                    </b-form-group> 
 
                  </div>
                  
                  <div class="col-md-4">
 
                    <b-form-group 
                        label="Engine:" 
                        label-for="engine"
                        :state="isValid('engine')"
                        :invalid-feedback="errorMessage('engine')"
                        >
                            <b-form-input
                            id="engine"
                            v-model="form.engine"
                            required
                            placeholder="engine"
                            ></b-form-input>
                    </b-form-group>

                    <b-form-group 
                        label="Color:" 
                        label-for="color"
                        :state="isValid('color')"
                        :invalid-feedback="errorMessage('color')"
                        >
                            <b-form-input
                            id="color"
                            v-model="form.color"
                            required
                            placeholder="color"
                            ></b-form-input>
                    </b-form-group>  
                    
                    <b-form-group 
                        label="Displacement:" 
                        label-for="displacement"
                        :state="isValid('displacement')"
                        :invalid-feedback="errorMessage('displacement')"
                        >
                            <b-form-input
                            id="displacement"
                            v-model="form.displacement"
                            required
                            placeholder="displacement"
                            ></b-form-input>
                    </b-form-group>

                    <b-form-group 
                        label="Year Model:" 
                        label-for="year_model"
                        :state="isValid('year_model')"
                        :invalid-feedback="errorMessage('year_model')"
                        >
                            <b-form-input
                            id="year_model"
                            v-model="form.year_model"
                            required
                            type="number"
                            placeholder="year_model"
                            ></b-form-input>
                    </b-form-group>

                    
                    <b-form-group label="Release Date:" label-for="release_date">
                        <datepicker
                            :config="singleDateConfig"
                            v-model="form.release_date" 
                            >
                        </datepicker> 
                    </b-form-group>    

                  </div>

                  <div class="col-md-4">
                     
                    <b-form-group 
                        label="Gross weight:" 
                        label-for="gross_weight"
                        :state="isValid('gross_weight')"
                        type="number"
                        :invalid-feedback="errorMessage('gross_weight')"
                        >
                            <b-form-input
                            id="gross_weight"
                            v-model="form.gross_weight"
                            required
                            placeholder="gross_weight"
                            ></b-form-input>
                    </b-form-group>

                    <b-form-group 
                        label="Key #:" 
                        label-for="key_number"
                        :state="isValid('key_number')"
                        :invalid-feedback="errorMessage('key_number')"
                        >
                            <b-form-input
                            id="key_number"
                            v-model="form.key_number"
                            required
                            placeholder="key_number"
                            ></b-form-input>
                    </b-form-group>

                    <b-form-group label="Description" 
                        label-for="description"  
                        :invalid-feedback="errorMessage('description')"
                        :state="isValid('description')"
                            >  
                        <b-form-textarea
                            id="description"
                            v-model="form.description" 
                            placeholder="Say something about your vehicle"
                            rows="6"
                            max-rows="10"
                        ></b-form-textarea>
                    </b-form-group>  
                  </div>
                  
              </div>
              <b-button type="button" variant="primary" @click.prevent="save()">Save</b-button>
            </card>
        </div>
        </b-form> 

        <loader :isLoading="loading"></loader>
    </div>
   
</template>
<script>  
import { Loader } from "@/components";
import { mapState, mapGetters} from "vuex";
import Datepicker from "vue-bulma-datepicker"; 
export default {
  components: {
     Loader,
     Datepicker
  }, 

  data() {
    return { 
        backButton: true,
        backRoutes: "/customer/vehicle", 
        customer: this.$route.query, 
        cardTitle1: "Vehicle Information",   
        loading: false,
        form: { 
          customer_uuid: null,
          model_no: null,
          make: null,
          description: null,
          color: null,
          cs_no: null,
          vin: null,
          vsi: null,
          engine: null,
          displacement: null,
          year_model: null,
          gross_weight: null,
          key_number: null,
          release_date: null
        },
         
        step:1,   
        
        singleDateConfig: {
            altInput: true,
            altFormat: "M j, Y",
            dateFormat: "Y-m-d",
            placeholder: "Release Date",
            defaultDate: ["today"],
            maxDate: new Date()
        },
         
    };
  },
  created() {  
    this.cardTitle1 = this.customer.firstname + " " + this.customer.lastname + "'s New Vehicle Infomation";
  },
  computed: {
      ...mapState("vehicle", ["errors"]),  
  },

  methods: {   

    save: async function() { 
          
        this.loading = true;  
        this.form.customer_uuid = this.customer.uuid;
        this.$store.commit("vehicle/setData", this.form);
        await this.$store
        .dispatch("vehicle/create")
        .then(() => {  
            if(this.errors == null) {
                this.clearForm();
            }
        });  
       
        this.loading = false;
    },  

    errorMessage(field) {   
         
        if (this.errors == null) {
            return "";
        }     
        return this.errors.errors[field];
    },
    
    isValid(field) { 
        if (this.errors == null) {
            return false;
        } 
        return this.errors.errors[field] ? false : true;
    }, 

    clearForm(){  
        this.form.model_no = null;
        this.form.make = null;
        this.form.description = null;
        this.form.color = null;
        this.form.cs_no = null;
        this.form.vin = null;
        this.form.vsi = null;
        this.form.engine = null;
        this.form.displacement = null;
        this.form.year_model = null;
        this.form.gross_weight = null;
        this.form.key_number = null;
 
    }
     
  }
};
</script>
<style>
</style>
