<template>
  <div>  
     <card class="card" :title="title" :backButton="backButton" :backRoutes="backRoutes">
        <div class="row clearfix">
            <div class="col-md-10">
                <form class="form-inline">
                    <div class="form-group mb-2">
                        <b-input-group>
                        <b-input-group slot="append">
                            <i class="icon-calendar"></i>
                        </b-input-group>
                        <datepicker
                            :config="daterangeConfig"
                            :v-model="filter.date">
                        </datepicker>
                        </b-input-group> 
                    </div>
                    <div class="form-group mx-sm-3 mb-2">
                    <b-input-group prepend=" ">
                        <b-form-input @keyup.native="search(true)" placeholder="Search" v-model="filter.keyword"></b-form-input> 
                    </b-input-group>
                    </div>
                    
                </form>
            </div>  
            <div class="col-md-2"> 
                <b-button  block variant="info btn-table-add"  @click.prevent="redirectAdd()"><span class="ti-plus"></span> New Vehicle </b-button>
                <br />
                <br /> 
            </div> 
        </div>  

        <div class="row">
            <div class="col-md-12">

                <b-table 
                    class="table table-hover table-light"
                    show-empty 
                    :items="list"
                    :empty-text="(loading) ? 'Loading data' : 'Empty Result'"
                    :fields="fields"
                    :current-page="currentPage"
                    responsive
                    >  

                    <template v-slot:cell(no)="data">
                        {{ data.index + 1}}
                    </template>

                    <template v-slot:cell(actions)="data">
                        <div class="btn-group">
                            <button type="button" 
                                    class="btn btn-sm btn-primary" 
                                    data-toggle="tooltip" 
                                    title="View Insurances"
                                    @click="viewInsurances(data)">
                                <i class="fa fa-fw fa-eye"></i>
                            </button> 
                        </div>
                    </template> 
                </b-table>  
            </div>
        </div>
     </card>
    
  </div>
</template>
<script> 
import { mapState, mapGetters} from "vuex"; 
import Datepicker from "vue-bulma-datepicker";  

export default {
  components: { 
    Datepicker
  },
  
  data() {
    let self = this;
    return { 
        title: null,
        backButton: true,
        backRoutes: "/customer",  
        customer: this.$route.query,
        
        filter: {
            keyword: null,
            field: 'all',
            dateFrom: null,
            dateTo: null
        },
        daterangeConfig: {
            altInput: true,
            altFormat: "M j, Y",
            dateFormat: "Y-m-d",
            static: true,
            mode: "range",
            defaultDate: ["today", "today"],
            onChange: function(selectedDates) {
                let filterDate = selectedDates;
                self.filter.dateFrom = self.$moment(filterDate[0]).format("YYYY-MM-DD");
                self.filter.dateTo = self.$moment(filterDate[1]).format("YYYY-MM-DD");

                self.selectedDate(selectedDates); 
            }
        },
         
        //table 
        perPage: 10,
        value: 0,
        totalRows: 1,
        fields: [
            "no", 
            {
                key: "model_no",
                label: "Model",
                sortable: true
            }, 
            {
                key: "make",
                label: "Make",
                sortable: true
            },
            {
                key: "color",
                label: "Color",
                sortable: true
            },
            {
                key: "cs_no",
                label: "CS #",
                sortable: true
            }, 
            {
                key: "vin",
                label: "VIN #",
                sortable: true
            },
            {
                key: "vsi",
                label: "VSI #",
                sortable: true
            },
            {
                key: "engine",
                label: "Engine #",
                sortable: true
            },
            {
                key: "release_date",
                label: "Release Date",
                sortable: true
            },
             
            "actions" 
        ],
         
    };
  },
  
  computed: { 
       ...mapState("vehicle", [
          "list",
          "page",
          "maxPage",
          "nextPage",
          "prevPage",
          "currentPage",
          "totalPerPage", 
          "currentFirstItem",
          "currentLastItem",  
          "loading", 
          "errors", 
      ]), 
  }, 

  created() {  
    this.title = this.customer.firstname + " " + this.customer.lastname + " Vehicles";

    this.initPage(); 
  },
  
  methods: {  

    async getList(page) { 
        await this.$store.dispatch("vehicle/getList", page);
    },

    async initPage() {
        this.search();
        await this.getList(1);        
    },

    paginate(page) {  
        return this.getList(page);
    },

    search(newSearch = false) {
      let param = {
          customer_uuid: this.customer.uuid,
          dateFrom: this.filter.dateFrom,
          dateTo: this.filter.dateTo,
          keyword: this.filter.keyword, 
          page: this.currentPage
      };

      this.$store.commit("vehicle/setData", param);  
      this.getList(this.currentPage);
    },

    selectedDate(value) {
        let range = {};
        if (value.length == 2) {
            range = {
                start: this.$moment(value[0]).format("YYYY-MM-DD"),
                end: this.$moment(value[1]).format("YYYY-MM-DD")
            };

            this.filterDate(range, this.currentPage);
        }
    },

    filterDate(range, page = 1) {
        this.filter.dateFrom = range.start;
        this.filter.dateTo = range.end;

        let param = {
            customer_uuid: this.customer.uuid,
            dateFrom: this.filter.dateFrom,
            dateTo: this.filter.dateTo,
            keyword: this.filter.keyword, 
            page: page
        };
        this.$store.commit("vehicle/setData", param);   
        this.getList(page);
    },

    viewInsurances(data){    
        this.$router.push({
          path: '/customer/vehicle/insurance', 
          query: data.item
        });
    },

    redirectAdd(){   
        this.$router.push({
          path: '/customer/vehicle/add',
          query: this.customer
        });
    },
  }
};
</script>
<style>
</style>
