<template>
   <div>
       <b-form>
        <div v-if="step === 1">
          
            <card class="card" :title="title" :backButton="backButton" :backRoutes="backRoutes" :backData="vehicle"> 
              <div class="row clearfix">
                   <div class="col-md-4">
                        <b-form-group 
                            label="Provider:" 
                            label-for="provider"
                            :state="isValid('provider')"
                            :invalid-feedback="errorMessage('provider')"
                            >
                                <b-form-input
                                id="provider"
                                v-model="form.provider"
                                required
                                placeholder="(Prulife, SunLife, Standard, etc.)"
                                ></b-form-input>
                        </b-form-group>
                        <b-form-group 
                            label="Reference #:" 
                            label-for="reference_id"
                            :state="isValid('reference_id')"
                            :invalid-feedback="errorMessage('reference_id')"
                            >
                                <b-form-input
                                id="reference_id"
                                v-model="form.reference_id"
                                required
                                placeholder="reference_id"
                                ></b-form-input>
                        </b-form-group> 
                        <b-form-group
                            label="Type"
                            class="secondary-label mb-2">
                            <b-form-radio-group
                                id="type"
                                v-model="form.type"
                                name="type">
                                <b-form-radio value="cptl">CPTL</b-form-radio>
                                <b-form-radio value="comprehensive">Comprehensive</b-form-radio>
                            </b-form-radio-group>
                        </b-form-group>

                   </div>

                   <div class="col-md-8">
                       <b-row>
                            <b-col>
                                <b-form-group
                                    label-for="details"
                                    :state="isValid('details')"
                                    :invalid-feedback="errorMessage('details')"
                                >
                                    <p-button type="warning"
                                                size="sm"
                                                @click.native.prevent="addColumn"
                                            >
                                        <i class="ti-plus"></i> Add Coverage
                                    </p-button>
                                </b-form-group>
                            </b-col> 
                        </b-row>

                        <b-row>
                            <div class="col-md-12" v-for="(column, index) in columns" :key="index" >
                                <stats-card>  
                                    <div class="numbers" slot="content">
                                        <b-row>
                                            <b-col>
                                                <span>Coverage {{ index + 1}}</span> 
                                                <br />
                                            </b-col>
                                        </b-row>
                                        <b-row>
                                            <b-col>
                                                <b-form-group                                                   
                                                    label-for="coverage"
                                                    :state="isValid('details.' + index + '.coverage')"
                                                    :invalid-feedback="errorMessage('details.' + index + '.coverage')"
                                                >
                                                    <b-input-group prepend="Name">
                                                        <b-form-input ref="column" v-model="column.coverage"  placeholder="Enter Coverage"> </b-form-input>
                                                    </b-input-group> 
                                                </b-form-group>
                                            </b-col> 
                                            <b-col>
                                                <b-form-group 
                                                    label-for="amount_issued"
                                                    :state="isValid('details.' + index + '.amount_issued')"
                                                    :invalid-feedback="errorMessage('details.' + index + '.amount_issued')"
                                                >
                                                    <b-input-group prepend="Amount ">
                                                        <b-form-input ref="column"  v-model="column.amount_issued" type="number" placeholder="Enter Amount Issued">
                                                        </b-form-input>    
                                                    </b-input-group> 
                                                </b-form-group>
                                            </b-col>   
                                        </b-row>
                                        <b-row>
                                            
                                             <b-col>
                                                <b-form-group 
                                                    label-for="amount_without_aon"
                                                    :state="isValid('details.' + index + '.amount_without_aon')"
                                                    :invalid-feedback="errorMessage('details.' + index + '.amount_without_aon')"
                                                >
                                                    <b-input-group prepend="w/o AON">
                                                        <b-form-input ref="column"  v-model="column.amount_without_aon" type="number" placeholder="Enter Amount Issued">
                                                        </b-form-input>    
                                                    </b-input-group> 
                                                </b-form-group>
                                            </b-col>
                                       
                                            <b-col>
                                                <b-form-group 
                                                    label-for="amount_with_aon"
                                                    :state="isValid('details.' + index + '.amount_with_aon')"
                                                    :invalid-feedback="errorMessage('details.' + index + '.amount_with_aon')"
                                                >
                                                    <b-input-group prepend="w/ AON">
                                                        <b-form-input ref="column"  v-model="column.amount_with_aon" type="number" placeholder="Enter Amount Issued">
                                                        </b-form-input>    
                                                    </b-input-group> 
                                                </b-form-group>
                                            </b-col>
                                        </b-row>
                                    </div>
                                    <div class="stats" slot="footer">
                                         <p-button type="danger"
                                                    size="sm"
                                                    @click.native.prevent="deleteColumn(index)"
                                                >
                                            <i class="ti-trash"></i>Remove
                                        </p-button>   
                                    </div>
                                </stats-card>
                            </div> 
                        </b-row>
 
                   </div>
                  
              </div>
              <b-button type="button" variant="primary" @click.prevent="save()">Save</b-button>
            </card>
        </div>
        </b-form> 

        <loader :isLoading="loading"></loader>
    </div>
   
</template>
<script>  
import { Loader } from "@/components";
import { mapState, mapGetters} from "vuex";
import Datepicker from "vue-bulma-datepicker"; 
import { StatsCard } from "@/components/index";
export default {
  components: {
     Loader,
     Datepicker,
     StatsCard
  }, 

  data() {
    return { 
        backButton: true,
        backRoutes: "/customer/vehicle/insurance", 
        vehicle: this.$route.query,  

        loading: false,
        form: { 
            provider: null, 
            reference_id: null, 
            vehicle_uuid: null, 
            registration_date: null, 
            type: 'cptl',
            details: [], 
        },
          
        
        singleDateConfig: {
            altInput: true,
            altFormat: "M j, Y",
            dateFormat: "Y-m-d",
            placeholder: "Release Date",
            defaultDate: ["today"],
            maxDate: new Date()
        },

        columns: [],  
        step:1,  
         
    };
  },
  created() {  
    this.title =  "Add Insurance Quotation for vehicle model: " + this.vehicle.model_no; 
    this.getCustomer(this.vehicle.customer_uuid);   

  },
  computed: {
      ...mapState("insurance", ["errors"]), 
      
      ...mapState("customer", [
          "customer", 
      ]), 
  },

  methods: {   

    async getCustomer(uuid) { 
        this.$store.commit("customer/setData", {
            uuid: uuid
        });  
        await this.$store.dispatch("customer/view");  
    },

    save: async function() { 
          
        this.loading = true;  
        this.form.vehicle_uuid = this.vehicle.uuid;
        this.form.details = this.columns;
        
        this.$store.commit("insurance/setData", this.form);
        await this.$store
        .dispatch("insurance/create")
        .then(() => {  
            if(this.errors == null) {
                this.clearForm();
            }
        });  
       
        this.loading = false;
    },  

    addColumn() { 
      this.columns.push({
            coverage: "", 
            amount_issued:"", 
            amount_with_aon:"", 
            amount_without_aon:""
        }); 
    },
    deleteColumn(index) { 
        this.columns.splice(
            index,
            1
        );
    },

    errorMessage(field) {    
        if (this.errors == null) {
            return "";
        }      
        
        return this.errors.errors[field];
    },
    
    isValid(field) { 
        if (this.errors == null) {
            return false;
        } 
        return this.errors.errors[field] ? false : true;
    }, 

    clearForm(){  
        this.form.provider = null;
        this.form.reference_id = null;
        this.form.vehicle_uuid = null; 
        this.form.registration_date = null;
        this.form.details = null; 
        this.columns = [];
    }
     
  }
};
</script>
<style>
</style>
