<template>
   <div>
       <b-form>
        <div v-if="step === 1">
          
            <card class="card" :title="title" :backButton="backButton" :backRoutes="backRoutes" :backData="vehicle">  
              
                <div class="row clearfix">
                    <div class="col-md-4">
                        <table class="table table-bordered table-sm">
                            <tr>
                                <td class="table-active"> <strong>Customer Name:</strong> </td>
                                <td class="table-danger">  {{ info.customer.firstname + " " +  info.customer.lastname }} </td>
                            </tr>
                            <tr>
                                <td class="table-active"> <strong>Vehicle Model:</strong> </td>
                                <td class="table-danger"> {{ info.vehicle.model_no }} </td>
                            </tr>
                            <tr>
                                <td class="table-active"> <strong>Provider:</strong> </td>
                                <td class="table-danger"> {{ info.provider }} </td>
                            </tr>
                            <tr>
                                <td class="table-active"> <strong>Reference #:</strong> </td>
                                <td class="table-danger">  {{ info.reference_id }} </td>
                            </tr>
                            <tr>
                                <td class="table-active"> <strong>Status:</strong> </td>
                                <td class="table-danger">
                                    <span v-if="info.status > 0"> Final</span> 
                                    <span v-else> Quote</span>
                                </td>
                            </tr>
                            <tr>
                                <td class="table-active"> <strong>Expiration Date:</strong> </td>
                                <td class="table-danger"> {{ info.expiration_date }} </td>
                            </tr> 
                            <tr>
                                <td class="table-active"> <strong>Availed:</strong> </td>
                                <td class="table-danger"> {{ info.has_availed }} </td>
                            </tr>
                            <tr>
                                <td class="table-active"> <strong>Type:</strong> </td>
                                <td class="table-danger"> {{ info.type }} </td>
                            </tr>
                            <tr>
                                <td class="table-active"> <strong>Provision #:</strong> </td>
                                <td class="table-danger"> {{ info.provision_no }} </td>
                            </tr> 
                        </table>     
                        
                    </div>

                    <div class="col-md-8">
                        <table class="table table-bordered table-sm">
                            <thead>
                                <tr class="table-active">
                                    <th colspan="4" class="text-center">Details</th>  
                                </tr>
                                <tr class="table-info">
                                    <th colspan="2"><strong>Registration Date: </strong> {{ info.registration_date}}</th> 
                                    <th scope="col">Option 1</th>
                                    <th scope="col">Option 2</th>
                                </tr>
                                <tr class="table-danger">
                                    <th scope="col">Coverage</th>
                                    <th scope="col">Amount Issued</th>
                                    <th scope="col">w/o Act of Narture</th>
                                    <th scope="col">w/ Act of Narture</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="(column, index) in info.details" :key="index" class="table-light">
                                    <td>{{ column.coverage }}</td>
                                    <td>{{ column.amount_issued }}</td>
                                    <td>{{ column.amount_without_aon }}</td>
                                    <td>{{ column.amount_with_aon }}</td>
                                </tr>
                                <tr class="table-info">
                                    <td>Total:</td>
                                    <td>{{ info.total_amount_issued }}</td>
                                    <td>{{ info.total_amount_without_aon }}</td>
                                    <td>{{ info.total_amount_with_aon }}</td> 
                                </tr>
                            </tbody>
                        </table>
                    </div> 
                    
                </div>

                <!-- insurance amortisations -->
                <div class="row clearfix">
                    <div class="col-md-4">

                    </div>
                    <div class="col-md-8">
                        <table class="table table-bordered table-sm">
                            <thead>
                                 <tr class="table-active">
                                    <th colspan="5" class="text-center">Amortisations</th>  
                                </tr>
                                <tr class="table-info"> 
                                    <th scope="col">Due</th>
                                    <th scope="col">Amount</th>
                                    <th scope="col">Payment Reference #</th>
                                    <th scope="col">Status</th>
                                    <th scope="col"></th>
                                </tr> 
                            </thead>
                            <tbody> 
                                <tr v-for="(column, index) in info.amortisations" :key="index" class="table-light">
                                    <td>{{ column.due_date }}</td>
                                    <td>{{ column.amount }}</td>
                                    <td>
                                        
                                        <span v-if="column.payment_reference !== null"> {{ column.payment_reference }}</span> 
                                        <span v-else> --- </span>

                                    </td>
                                    <td>
                                        <span v-if="column.is_paid > 0"> Paid</span> 
                                        <span v-else> Unpaid</span>
                                    </td>
                                    <td> 
                                        <div class="btn-group"  v-if="column.is_paid == 1">
                                            <button type="button" 
                                                    class="btn btn-sm btn-primary" 
                                                    data-toggle="tooltip" 
                                                    title="View Payments"
                                                    @click="viewPayments(column, index, 'form-payment-details')">
                                                <i class="fa fa-fw fa-eye"></i>View Payments
                                            </button> &nbsp;
                                        </div>
                
                                        <div class="btn-group"  v-if="column.is_paid == 0">
                                            <button type="button" 
                                                    class="btn btn-sm btn-danger" 
                                                    data-toggle="tooltip" 
                                                    title="Add Payment"
                                                    @click="addPayment(column, index, 'form-payment')">
                                                <i class="fa fa-fw fa-eye"></i>Pay
                                            </button> &nbsp;
                                        </div>
                                    </td>
                                </tr>
                                 
                            </tbody>
                        </table>
                    </div>  
                </div>
              
            </card>
        </div>
        </b-form> 
 
        <b-modal no-close-on-backdrop
                id="form-payment" class="modal-form" 
                :title="modalTitle"
                >

                <div class="row clearfix">
                    <div class="col-md-12">
                         <span class="ti-calendar"></span> Amortisation Due Date: {{ selectedDueDate }}
                    </div>
                   <div class="col-md-12">

                       <b-form-group label="Registration Date:" label-for="payment_date">
                            <datepicker
                                :config="singleDateConfig"
                                v-model="form.payment_date" 
                                >
                            </datepicker> 
                        </b-form-group>   

                       <b-form-group 
                            label="OR #:" 
                            label-for="reference"
                            :state="isValid('reference')"
                            :invalid-feedback="errorMessage('reference')"
                            >
                                <b-form-input
                                id="reference"
                                v-model="form.reference"
                                required 
                                placeholder="OR #"
                                ></b-form-input>
                        </b-form-group>

                        <b-form-group 
                            label="Amount:" 
                            label-for="amount"
                            :state="isValid('amount')"
                            :invalid-feedback="errorMessage('amount')"
                            >
                                <b-form-input
                                id="amount"
                                v-model="form.amount"
                                required
                                type="number"
                                placeholder="Amount"
                                ></b-form-input>
                        </b-form-group>
                   </div>
                </div>

                <div slot="modal-footer">
                    <b-btn :disabled="loading" variant="ghost" @click="handleCancel('form-payment')" class="mr-1 btn-cancel">
                        Cancel
                    </b-btn>
                    <b-btn variant="primary" @click="handleSave('form-payment')" class="ml-1">
                        Save
                    </b-btn>
                </div>
        </b-modal>


        <b-modal no-close-on-backdrop
                id="form-payment-details" class="modal-form" 
                :title="modalTitle"
                >
                
                <div class="row clearfix">
                    <div class="col-md-12">
                         <span class="ti-calendar"></span> <strong> Amortisation Due Date: </strong> {{ selectedDueDate }}
                    </div>
                    <div class="col-md-12">
                         <span class="ti-pulse"></span> <strong> Status: </strong> {{ selectedStatus }}
                    </div>

                    <div class="col-md-12">
                        <table class="table table-bordered table-sm">
                            <thead class="table-active">
                                <tr class="table-active">
                                    <th colspan="2" class="text-center">Payments</th>  
                                </tr>
                                <tr>
                                    <th>Payment Date</th>
                                    <th>Amount</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="(column, index) in info.payments" :key="index" class="table-light">
                                    <td>{{ column.payment_date }}</td>
                                    <td>{{ column.amount }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>


                </div>
                <div slot="modal-footer">
                     
                </div>
        </b-modal> 

        <loader :isLoading="loading"></loader>
    </div>
   
</template>
<script>  
import { Loader } from "@/components";
import { mapState, mapGetters} from "vuex";
import Datepicker from "vue-bulma-datepicker";   
export default {
  components: {
     Loader,
     Datepicker, 
  }, 

  data() {
    return { 
        title: "finalize",
        backButton: true,
        backRoutes: "/customer/vehicle/insurance", 
        insurance: this.$route.query,    
        selectedAmortisation: null,
        selectedDueDate: null,
        selectedStatus: null,
        modalTitle: null,
        info: {
            customer: {
                firstname: null,
                lastname: null
            },
            vehicle: {
                model_no: null, 
            },
            payments: null
        }, 
  
        form: { 
            amortisation_uuid: null,
            payment_date: null,
            reference: null,  
            amount: null,  
            index: null,
        },
          
        loading: false,
        
        singleDateConfig: {
            altInput: true,
            altFormat: "M j, Y",
            dateFormat: "Y-m-d",
            placeholder: "Release Date",
            defaultDate: ["today"],
            maxDate: new Date()
        },
 
        step:1,  
         
    };
  },
  created() {       
        this.getDetail(this.insurance.uuid);
        this.title =  "Insurance: " + this.insurance.reference_id;  
        this.getVehicle(this.insurance.vehicle_uuid);    
  },
  computed: { 
     
        ...mapState("insurance", ["insuranceObj"]),  
        ...mapState("vehicle", [ "vehicle",]),  
        ...mapState("payment", ["payment", "proceed_payment", "errors"]), 
        ...mapState("amortisation", ["amortisation"]), 
  },

  methods: {   

    async getVehicle(uuid) { 
        this.$store.commit("vehicle/setData", {
            uuid: uuid
        });  
        await this.$store.dispatch("vehicle/view");   
    },
 
    async getDetail(uuid) {  
        this.$store.commit("insurance/setData", {
            uuid: uuid
        });  
        await this.$store.dispatch("insurance/view").then(() => {  
            this.info = this.insuranceObj; 

            this.info.expiration_date = this.$moment(this.insuranceObj.expiration_date).format('ll'); 
        });  
        
    },
 
    async addPayment(data, index, modal){ 
        this.$store.commit("payment/setData", {
            uuid: data.uuid
        });  
        await this.$store.dispatch("payment/check");  

        if(this.proceed_payment > 0){
                //show modal
                this.showModal(modal);
                this.selectedAmortisation = data;
                this.modalTitle = "Pay Insurance Reference: " + this.insuranceObj.reference_id; 
                this.selectedDueDate = this.$moment(data.due_date).format('ll');
                this.form.amount = data.amount;
                this.form.amortisation_uuid = data.uuid 
                this.form.index = index;
        }
    },

    async handleSave(modal) {
        this.loading = true;    
        
        this.$store.commit("payment/setData", this.form);  
        await this.$store
        .dispatch("payment/pay")
        .then(() => {   
            if(this.errors == null) {
                this.clearForm();
                this.hideModal(modal);
                this.info.amortisations[this.form.index].is_paid = 1 
                this.info.amortisations[this.form.index].payment_reference = this.payment.reference;
            }
           
        });  
        this.loading = false;
        
    },

    async viewPayments(data, index, modal){ 
        this.$store.commit("amortisation/setData", {
            uuid: data.uuid
        });  
        await this.$store.dispatch("amortisation/view").then(() => {  
            if(this.errors == null) {
                this.showModal(modal);

                this.modalTitle = "Payments: " + this.amortisation.payment_reference; 
                this.selectedDueDate = this.$moment(data.due_date).format('ll');
                this.selectedStatus = (this.amortisation.is_paid > 0) ? "Paid" : "Unpaid"; 
                this.info.payments = this.amortisation.payments; 
            }
        });   

       
    },

    handleCancel(modal) {
        this.hideModal(modal);
    },

    showModal(modal) {
        this.$root.$emit("bv::show::modal", modal);
    },
    hideModal(modal) {
        this.$root.$emit("bv::hide::modal", modal); 
    },
    
    clearForm(){  
        this.form.amortisation_uuid = null;
        this.form.payment_date = null;
        this.form.reference = null;
        this.form.amount = null;
    },

    errorMessage(field) {    
        if (this.errors == null) {
            return "";
        }      
        
        return this.errors.errors[field];
    },
    
    isValid(field) { 
        if (this.errors == null) {
            return false;
        } 
        return this.errors.errors[field] ? false : true;
    }, 
  
     
  }
};
</script>
<style>
</style>
