<template>
   <div>
       <b-form>
        <div v-if="step === 1">
          
            <card class="card" :title="title" :backButton="backButton" :backRoutes="backRoutes" :backData="vehicle">  
              
              <div class="row clearfix">
                   <div class="col-md-4">
                         
                        <b-form-group label="Registration Date:" label-for="registration_date">
                            <datepicker
                                :config="singleDateConfig"
                                v-model="form.registration_date" 
                                >
                            </datepicker> 
                        </b-form-group>   

                        <b-form-group 
                            label="Initial payment:" 
                            label-for="initial_payment"
                            :state="isValid('initial_payment')"
                            :invalid-feedback="errorMessage('initial_payment')"
                            >
                                <b-form-input
                                id="initial_payment"
                                v-model="form.initial_payment"
                                type="number"
                                required
                                placeholder="Initial payment"
                                ></b-form-input>
                        </b-form-group>

                        <b-form-group
                            label="Availed"
                            class="secondary-label mb-2">
                            <b-form-radio-group
                                id="has_availed"
                                v-model="form.has_availed"
                                name="has_availed">
                                <b-form-radio value="with_aon">with AON</b-form-radio>
                                <b-form-radio value="without_aon">without AON</b-form-radio>
                            </b-form-radio-group>
                        </b-form-group>

                        <b-form-group 
                            label="Provision #: (Fill this for free insurance)" 
                            label-for="provision_no"
                            :state="isValid('provision_no')"
                            :invalid-feedback="errorMessage('provision_no')"
                            >
                                <b-form-input
                                id="provision_no"
                                v-model="form.provision_no" 
                                required
                                placeholder="Fill this for free insurance"
                                ></b-form-input>
                        </b-form-group>

                   </div>

                   <div class="col-md-4">
                       <table class="table table-striped"> 
                           <thead>
                               <tr>
                                    <td>Insurance Description</td>
                                    <td>Total Amount</td>
                                </tr>
                           </thead>
                            <tbody>
                                <tr>
                                    <td>Amount Issued</td>
                                    <td>{{ insurance.total_amount_issued }}</td>
                                </tr>
                                <tr>
                                    <td>With Act of Nature</td>
                                    <td>{{ insurance.total_amount_with_aon }}</td>
                                </tr>
                                <tr>
                                    <td>Without Act of Nature</td>
                                    <td>{{ insurance.total_amount_without_aon }}</td>
                                </tr>
                            </tbody>
                       </table>
                   </div>
                  
              </div>
              <b-button type="button" variant="primary" @click.prevent="save()">Save</b-button>
            </card>
        </div>
        </b-form> 

        <loader :isLoading="loading"></loader>
    </div>
   
</template>
<script>  
import { Loader } from "@/components";
import { mapState, mapGetters} from "vuex";
import Datepicker from "vue-bulma-datepicker";   
export default {
  components: {
     Loader,
     Datepicker, 
  }, 

  data() {
    return { 
        title: "finalize",
        backButton: true,
        backRoutes: "/customer/vehicle/insurance", 
        insurance: this.$route.query,   

        loading: false,
        form: { 
            uuid: null,
            registration_date: null,
            initial_payment: null,
            has_availed: "with_aon",
        },
          
        
        singleDateConfig: {
            altInput: true,
            altFormat: "M j, Y",
            dateFormat: "Y-m-d",
            placeholder: "Release Date",
            defaultDate: ["today"],
            maxDate: new Date()
        },
 
        step:1,  
         
    };
  },
  created() {      
        this.title =  "Finalize Insurance: " + this.insurance.reference_id;  
        this.getVehicle(this.insurance.vehicle_uuid);   

  },
  computed: { 
     
     ...mapState("insurance", ["errors"]), 

     ...mapState("vehicle", [
          "vehicle", 
      ]), 
  },

  methods: {   

    async getVehicle(uuid) { 
        this.$store.commit("vehicle/setData", {
            uuid: uuid
        });  
        await this.$store.dispatch("vehicle/view");   
    },

    save: async function() { 
          
        this.loading = true;  
        this.form.uuid = this.insurance.uuid;
        this.form.details = this.columns;
        
        this.$store.commit("insurance/setData", this.form);
        await this.$store
        .dispatch("insurance/finalize")
        .then(() => {  
            if(this.errors == null) {
                this.clearForm();
            }
        });  
       
        this.loading = false;
    },  
 
    errorMessage(field) {    
        if (this.errors == null) {
            return "";
        }      
        
        return this.errors.errors[field];
    },
    
    isValid(field) { 
        if (this.errors == null) {
            return false;
        } 
        return this.errors.errors[field] ? false : true;
    }, 

    clearForm(){  
        this.form.uuid = null;
        this.form.registration_date = null;
        this.form.initial_payment = null; 
        this.form.has_availed = null; 
    }
     
  }
};
</script>
<style>
</style>
