<template>
  <div>  
     <card class="card" :title="title" :backButton="backButton" :backRoutes="backRoutes" :backData="customer">
        <div class="row clearfix">
            <div class="col-md-10">
                <form class="form-inline">
                    <div class="form-group mb-2">
                        <b-input-group>
                        <b-input-group slot="append">
                            <i class="icon-calendar"></i>
                        </b-input-group>
                        <datepicker
                            :config="daterangeConfig"
                            :v-model="filter.date">
                        </datepicker>
                        </b-input-group> 
                    </div>
                    <div class="form-group mx-sm-3 mb-2">
                    <b-input-group prepend=" ">
                        <b-form-input @keyup.native="search(true)" placeholder="Search" v-model="filter.keyword"></b-form-input> 
                    </b-input-group>
                    </div>
                    
                </form>
            </div>  
            <div class="col-md-2"> 
                <b-button  block variant="info btn-table-add"  @click.prevent="redirectAdd()"><span class="ti-plus"></span> New Insurance </b-button>
                <br />
                <br /> 
            </div> 
        </div>  

        <div class="row">
            <div class="col-md-12">

                <b-table 
                    class="table table-hover table-light"
                    show-empty 
                    :items="list"
                    :empty-text="(loading) ? 'Loading data' : 'Empty Result'"
                    :fields="fields"
                    :current-page="currentPage"
                    responsive
                    >  

                    <template v-slot:cell(no)="data">
                        {{ data.index + 1}}
                    </template>

                    <template v-slot:cell(status)="data">
                      <span v-if="data.item.status > 0">Final</span> 
                      <span v-else>Quote</span>
                       
                    </template>

                    <template v-slot:cell(is_expired)="data">
                      <span v-if="data.is_expired > 0">Yes</span> 
                      <span v-else>No</span>
                    </template>

                    <template v-slot:cell(actions)="data">
                        <div class="btn-group">
                            <button type="button" 
                                    class="btn btn-sm btn-primary" 
                                    data-toggle="tooltip" 
                                    title="View Details"
                                    @click="viewDetails(data)">
                                <i class="fa fa-fw fa-eye"></i>
                            </button> &nbsp;
                        </div>
                        <div class="btn-group" v-if="data.item.status == 0"> 
                            <button type="button" 
                                    class="btn btn-sm btn-primary" 
                                    data-toggle="tooltip" 
                                    title="Finalize"
                                    @click="finalize(data)">
                                <i class="fa fa-check-square"></i>
                            </button> 
                        </div>
                    </template>  

                </b-table>  
            </div>
        </div>
         
     </card>
    
  </div>
</template>
<script> 
import { mapState, mapGetters} from "vuex"; 
import Datepicker from "vue-bulma-datepicker";  

export default {
  components: { 
    Datepicker
  },
  
  data() {
    let self = this;
    return { 
        title: null,
        backButton: true,
        backRoutes: "/customer/vehicle",   
        vehicle: this.$route.query, 
        
        filter: {
            keyword: null,
            field: 'all',
            dateFrom: null,
            dateTo: null
        },
        daterangeConfig: {
            altInput: true,
            altFormat: "M j, Y",
            dateFormat: "Y-m-d",
            static: true,
            mode: "range",
            defaultDate: ["today", "today"],
            onChange: function(selectedDates) {
                let filterDate = selectedDates;
                self.filter.dateFrom = self.$moment(filterDate[0]).format("YYYY-MM-DD");
                self.filter.dateTo = self.$moment(filterDate[1]).format("YYYY-MM-DD");

                self.selectedDate(selectedDates); 
            }
        },

        //table
        fields: [
            "no", 
            {
                key: "provider",
                label: "Provider",
                sortable: true
            }, 
            {
                key: "reference_id",
                label: "Reference #",
                sortable: true
            }, 
            {
                key: "registration_date",
                label: "Registration Date",
                sortable: true
            },
            {
                key: "expiration_date",
                label: "Expiration Date",
                sortable: true
            }, 
            {
                key: "status",
                label: "Status",
                sortable: true
            },
            {
                key: "is_expired",
                label: "Expired",
                sortable: true
            },
            {
                key: "type",
                label: "Type",
                sortable: true
            },
             
            "actions" 
        ],
         
    };
  },
  
  computed: { 
      ...mapState("insurance", [
          "list",
          "page",
          "maxPage",
          "nextPage",
          "prevPage",
          "currentPage",
          "totalPerPage", 
          "currentFirstItem",
          "currentLastItem",  
          "loading", 
          "errors", 
      ]), 

      ...mapState("customer", [
          "customer", 
      ]), 
  }, 

  created() {    
      this.title =  "Vehicle model: " + this.vehicle.model_no + "'s Insurance list";

      this.getCustomer(this.vehicle.customer_uuid);   
      this.initPage(); 
  },
  
  methods: { 
 
    async getCustomer(uuid) { 
      this.$store.commit("customer/setData", {
        uuid: uuid
      });  
      await this.$store.dispatch("customer/view");  
    },

    async getList(page) { 
        await this.$store.dispatch("insurance/getList", page);
    },

    async initPage() {
        this.search();
        await this.getList(1);        
    },

    paginate(page) {  
        return this.getList(page);
    },

    search(newSearch = false) {
      let param = {
          vehicle_uuid: this.vehicle.uuid,
          dateFrom: this.filter.dateFrom,
          dateTo: this.filter.dateTo,
          keyword: this.filter.keyword, 
          page: this.currentPage
      };

      this.$store.commit("insurance/setData", param);  
      this.getList(this.currentPage);
    },

    selectedDate(value) {
        let range = {};
        if (value.length == 2) {
            range = {
                start: this.$moment(value[0]).format("YYYY-MM-DD"),
                end: this.$moment(value[1]).format("YYYY-MM-DD")
            };

            this.filterDate(range, this.currentPage);
        }
    },

    filterDate(range, page = 1) {
        this.filter.dateFrom = range.start;
        this.filter.dateTo = range.end;

        let param = {
            vehicle_uuid: this.vehicle.uuid,
            dateFrom: this.filter.dateFrom,
            dateTo: this.filter.dateTo,
            keyword: this.filter.keyword, 
            page: page
        };
        this.$store.commit("insurance/setData", param);   
        this.getList(page);
    },

    viewDetails(data){    
        this.$router.push({
            path: '/customer/vehicle/insurance/detail',
          query: data.item
        });
    },

    finalize(data){   
        this.$router.push({
          path: '/customer/vehicle/insurance/finalize',
          query: data.item
        }); 
    },
    

    redirectAdd(){   
        this.$router.push({
          path: '/customer/vehicle/insurance/add',
          query: this.vehicle
        });
    },
 
  }
};
</script>
<style>
</style>
