<template>
   <div>
       <b-form>
        <div v-if="step === 1">
          
                <card class="card" :title="cardTitle1" :backButton="backButton" :backRoutes="backRoutes"> 
                    <div class="row clearfix">
                        <div class="col-md-4">
                                <b-form-group 
                                    label="First name:" 
                                    label-for="firstname"
                                    :state="isValid('firstname')"
                                    :invalid-feedback="errorMessage('firstname')"
                                    >
                                        <b-form-input
                                        id="firstname"
                                        v-model="form.firstname"
                                        required
                                        placeholder="Enter First Name"
                                        ></b-form-input>
                                </b-form-group>

                                <b-form-group 
                                    label="Last name:" 
                                    label-for="lastname"
                                    :state="isValid('lastname')"
                                    :invalid-feedback="errorMessage('lastname')"
                                    >
                                        <b-form-input
                                        id="lastname"
                                        v-model="form.lastname"
                                        required
                                        placeholder="Enter Last Name"
                                        ></b-form-input>
                                </b-form-group>
                                
                                <b-form-group 
                                    label="Middle name:" 
                                    label-for="middlename"
                                    :state="isValid('middlename')"
                                    :invalid-feedback="errorMessage('middlename')"
                                    >
                                        <b-form-input
                                        id="middlename"
                                        v-model="form.middlename"
                                        required
                                        placeholder="Enter Middle Name"
                                        ></b-form-input>
                                </b-form-group>

                                <b-form-group label="Suffix:" label-for="suffix">
                                    <b-form-input
                                    id="suffix"
                                    v-model="form.suffix"
                                    required
                                    placeholder="Enter suffix"
                                    ></b-form-input>
                                </b-form-group>

                                <b-form-group label="Birthdate:" label-for="birth_date">
                                    <datepicker
                                        :config="singleDateConfig"
                                        v-model="form.birth_date"

                                        readonly>
                                    </datepicker> 
                                </b-form-group>    
                               
                        </div> 


                        <div class="col-md-4">
                            
                            <b-form-group label="TIN:" label-for="tin">
                                <b-form-input
                                id="tin"
                                v-model="form.tin"
                                required
                                placeholder="Enter TIN"
                                ></b-form-input>
                            </b-form-group> 

                            <b-form-group 
                                label="Email:" 
                                label-for="email"
                                :state="isValid('email')"
                                :invalid-feedback="errorMessage('email')"
                                >
                                    <b-form-input
                                    id="email"
                                    v-model="form.email"
                                    required
                                    placeholder="Enter Email"
                                    ></b-form-input>
                            </b-form-group>

                             <b-form-group label="Address:" label-for="address">
                                <b-form-input
                                id="address"
                                v-model="form.address"
                                required
                                placeholder="Enter address"
                                ></b-form-input>
                            </b-form-group>

                            <b-form-group label="Phone #:" label-for="phone_number">
                                <b-form-input
                                id="phone_number"
                                v-model="form.phone_number"
                                required
                                placeholder="Enter Phone number"
                                ></b-form-input>
                            </b-form-group>

                            <b-form-group 
                                label="Mobile #:" 
                                label-for="mobile_number"
                                :state="isValid('mobile_number')"
                                :invalid-feedback="errorMessage('mobile_number')"
                                >
                                    <b-form-input
                                    id="mobile_number"
                                    v-model="form.mobile_number"
                                    required
                                    placeholder="Enter mobile_number"
                                    ></b-form-input>
                            </b-form-group> 
                             
                        </div> 

                        <div class="col-md-4">
 
                            <b-form-group label="Facebook ID:" label-for="facebook_id">
                                <b-form-input
                                id="facebook_id"
                                v-model="form.facebook_id"
                                required
                                placeholder="Enter Facebook ID"
                                ></b-form-input>
                            </b-form-group>
                             

                            <b-form-group
                                label="Gender"
                                class="secondary-label mb-2">
                                <b-form-radio-group
                                    id="gender"
                                    v-model="form.gender"
                                    name="gender">
                                    <b-form-radio value="male">Male</b-form-radio>
                                    <b-form-radio value="female">Female</b-form-radio>
                                </b-form-radio-group>
                            </b-form-group>


                            <b-form-group label="Civil Status:" label-for="civil_status">
                                <b-form-input
                                id="civil_status"
                                v-model="form.civil_status"
                                required
                                placeholder="Enter Civil Status"
                                ></b-form-input>
                            </b-form-group>
                            
                            <b-form-group label="Height:" label-for="height">
                                <b-form-input
                                id="height"
                                v-model="form.height"
                                required
                                placeholder="Enter height"
                                ></b-form-input>
                            </b-form-group>

                            <b-form-group label="Weight:" label-for="weight">
                                <b-form-input
                                id="weight"
                                v-model="form.weight"
                                required
                                placeholder="Enter weight"
                                ></b-form-input>
                            </b-form-group>
                        </div>
                    </div> 


                    <b-button type="button" variant="primary" @click.prevent="next()">Next</b-button>
                    
                </card> 
             
             
        </div>


        <div v-if="step === 2">
            
                <card class="card" :title="cardTitle2"> 
                    <div class="row clearfix">

                        <div class="col-md-4">
                            <b-form-group 
                                label="Occupation:" 
                                label-for="occupation"
                                :state="isValid('occupation')"
                                :invalid-feedback="errorMessage('occupation')"
                                >
                                    <b-form-input
                                    id="occupation"
                                    v-model="form.occupation"
                                    required
                                    placeholder="Enter occupation"
                                    ></b-form-input>
                            </b-form-group>

                            <b-form-group label="Current Employer:" label-for="current_employer">
                                <b-form-input
                                id="current_employer"
                                v-model="form.current_employer"
                                required
                                placeholder="Enter Current Employer"
                                ></b-form-input>
                            </b-form-group>

                            <b-form-group label="Employer's address:" label-for="current_employer_address">
                                <b-form-input
                                id="current_employer_address"
                                v-model="form.current_employer_address"
                                required
                                placeholder="Enter Employer's address"
                                ></b-form-input>
                            </b-form-group>
                        </div>


                        <div class="col-md-4">
                            <b-form-group label="Industry:" label-for="industry">
                                <b-form-input
                                id="industry"
                                v-model="form.industry"
                                required
                                placeholder="Enter industry"
                                ></b-form-input>
                            </b-form-group>

                            <b-form-group label="Office Phone #:" label-for="office_phone_number">
                                <b-form-input
                                id="office_phone_number"
                                v-model="form.office_phone_number"
                                required
                                placeholder="Enter Office Phone #"
                                ></b-form-input>
                            </b-form-group>

                            <b-form-group label="Email or Website:" label-for="email_or_website">
                                <b-form-input
                                id="email_or_website"
                                v-model="form.email_or_website"
                                required
                                placeholder="Enter Email or Website"
                                ></b-form-input>
                            </b-form-group>

                        </div>

                        <div class="col-md-4">
                             
                        </div>

                    </div>
                     
                    <b-button type="button" variant="primary" @click.prevent="prev()">Previous</b-button>&nbsp;
                    <b-button type="button" variant="primary" @click.prevent="next()">Next</b-button>
                    
                </card>  
 
        </div> 



        <div v-if="step === 3"> 
            <card class="card" :title="cardTitle3"> 
                 <div class="row clearfix"> 

                    <div class="col-md-4">
                        <b-form-group label="Firstname:" label-for="spouse_firstname">
                            <b-form-input
                            id="spouse_firstname"
                            v-model="form.spouse_firstname"
                            required
                            placeholder="Enter Firstname"
                            ></b-form-input>
                        </b-form-group>

                        <b-form-group label="Lastname:" label-for="spouse_lastname">
                            <b-form-input
                            id="spouse_lastname"
                            v-model="form.spouse_lastname"
                            required
                            placeholder="Enter Lastnamee"
                            ></b-form-input>
                        </b-form-group>
  
                        <b-form-group label="Middlename:" label-for="spouse_middlename">
                            <b-form-input
                            id="spouse_middlename"
                            v-model="form.spouse_middlename"
                            required
                            placeholder="Enter Middlename"
                            ></b-form-input>
                        </b-form-group> 

                        <b-form-group label="Suffix:" label-for="spouse_suffix">
                            <b-form-input
                            id="spouse_suffix"
                            v-model="form.spouse_suffix"
                            required
                            placeholder="Enter Suffix"
                            ></b-form-input>
                        </b-form-group> 

                        <b-form-group label="Mobile #:" label-for="spouse_mobile_number">
                            <b-form-input
                            id="spouse_mobile_number"
                            v-model="form.spouse_mobile_number"
                            required
                            placeholder="Enter Mobile #"
                            ></b-form-input>
                        </b-form-group> 
 
                    </div>

                    <div class="col-md-4">

                        <b-form-group label="Occupation:" label-for="spouse_occupation">
                            <b-form-input
                            id="spouse_occupation"
                            v-model="form.spouse_occupation"
                            required
                            placeholder="Enter Occupation"
                            ></b-form-input>
                        </b-form-group> 

                        <b-form-group label="Employer:" label-for="spouse_current_employer">
                            <b-form-input
                            id="spouse_current_employer"
                            v-model="form.spouse_current_employer"
                            required
                            placeholder="Enter Employer"
                            ></b-form-input>
                        </b-form-group> 

                        <b-form-group label="Employer's Address:" label-for="spouse_current_employer_address">
                            <b-form-input
                            id="spouse_current_employer_address"
                            v-model="form.spouse_current_employer_address"
                            required
                            placeholder="Enter Employer's Address"
                            ></b-form-input>
                        </b-form-group>

                         <b-form-group label="Industry:" label-for="spouse_industry">
                            <b-form-input
                            id="spouse_industry"
                            v-model="form.spouse_industry"
                            required
                            placeholder="Enter Industry"
                            ></b-form-input>
                        </b-form-group> 

                    </div>

                    <div class="col-md-4">

                        <b-form-group label="Office Phone #:" label-for="spouse_office_phone_number">
                            <b-form-input
                            id="spouse_office_phone_number"
                            v-model="form.spouse_office_phone_number"
                            required
                            placeholder="Enter Office Phone #"
                            ></b-form-input>
                        </b-form-group>

                        <b-form-group label="Email or Website:" label-for="spouse_email_or_website">
                            <b-form-input
                            id="spouse_email_or_website"
                            v-model="form.spouse_email_or_website"
                            required
                            placeholder="Enter Email or Website"
                            ></b-form-input>
                        </b-form-group>
 
                    </div>
                 </div>
                
                <b-button type="button" variant="primary" @click.prevent="prev()">Previous</b-button>&nbsp;
                <b-button type="button" variant="primary" @click.prevent="next()">Next</b-button>
                
                
            </card>   
            
           
        </div>

         <div v-if="step === 4"> 
            <card class="card" :title="cardTitle4"> 
                 <div class="row clearfix"> 
                      <div class="col-md-12">
                            <b-row>
                                <b-col sm="3">
                                    <b-form-group>
                                    <p-button type="warning"
                                                    size="sm"
                                                    @click.native.prevent="addColumn"
                                                >
                                            <i class="ti-plus"></i> Add Child
                                        </p-button>
                                    </b-form-group>
                                </b-col> 
                            </b-row>
                            <b-row no-gutters v-for="(column, index) in columns" :key="index">
                                <b-col sm="11">
                                    <b-row >
                                        <b-col>
                                            <b-form-group >
                                                <b-input-group prepend="Name">
                                                    <b-form-input ref="column"
                                                    v-model="column.name"
                                                    placeholder="Enter Name">
                                                    </b-form-input>
                                                </b-input-group>
                                                
                                            </b-form-group>
                                        </b-col> 
                                        <b-col>
                                            <b-form-group >
                                                <b-input-group prepend="Age">
                                                    <b-form-input ref="column"
                                                    v-model="column.age"   
                                                    type="number"                                             
                                                    placeholder="Enter Age">
                                                    </b-form-input>    
                                                </b-input-group>
                                                
                                            </b-form-group>
                                        </b-col> 
                                        <b-col>
                                            <b-form-group>
                                                <b-input-group prepend="Sex ">
                                                    <b-form-radio-group
                                                            id="sex"
                                                            v-model="column.sex"
                                                            name="sex">
                                                            <b-form-radio value="male">Male</b-form-radio>
                                                            <b-form-radio value="female">Female</b-form-radio>
                                                        </b-form-radio-group>
                                                </b-input-group> 
                                            </b-form-group>
                                        </b-col> 
                                        <b-col>
                                            
                                            <b-form-group>
                                                <b-input-group prepend="Birthdate">
                                                    <datepicker
                                                        :config="singleDateConfig"
                                                        v-model="column.birthday"
                                                        placeholder="Birthday">
                                                    </datepicker> 
                                                </b-input-group>
                                            
                                            </b-form-group>    
                                        </b-col> 
    
                                    </b-row>
                                </b-col>
                                <b-col>
                                    <b-form-group>
                                        &nbsp;
                                        <p-button type="danger"
                                                    size="sm"
                                                    @click.native.prevent="deleteColumn(index)"
                                                >
                                            <i class="ti-trash"></i>
                                        </p-button>

                                    </b-form-group>
                                </b-col>
                            </b-row>
                      </div>
                 </div>
                 <b-button type="button" variant="primary" @click.prevent="prev()">Previous</b-button>&nbsp;
                 <b-button type="button" variant="primary" @click.prevent="save()">Save</b-button>
            </card>
         </div>
        </b-form>


        <loader :isLoading="loading"></loader>
    </div>
   
</template>
<script>  
import { Loader } from "@/components";
import { mapState, mapGetters} from "vuex";
import Datepicker from "vue-bulma-datepicker"; 
export default {
  components: {
     Loader,
     Datepicker
  }, 

  data() {
    return { 
        backButton: true,
        backRoutes: "/customer", 
        cardTitle1: "Personal Information",
        cardTitle2: "Work Details",
        cardTitle3: "Spouse Information",
        cardTitle4: "Spouse Information (extended) - Children",

        singleDateConfig: {
            altInput: true,
            altFormat: "M j, Y",
            dateFormat: "Y-m-d",
            placeholder: "Birthdate",
            defaultDate: ["today"],
            maxDate: new Date()
        },

        loading: false,
        form: { 
            email : null, 
            tin : null, 
            lastname : null, 
            firstname : null, 
            middlename : null, 
            suffix : null, 
            address : null, 
            phone_number : null, 
            mobile_number : null, 
            facebook_id : null, 
            birth_date : null, 
            gender : "male", 
            civil_status : null, 
            height : null, 
            weight : null, 

            occupation : null, 
            current_employer : null, 
            current_employer_address : null, 
            industry : null, 
            office_phone_number : null, 
            email_or_website : null, 

            spouse_lastname : null, 
            spouse_firstname : null, 
            spouse_middlename : null, 
            spouse_suffix : null, 
            spouse_mobile_number : null, 
            spouse_occupation : null, 
            spouse_current_employer : null, 
            spouse_current_employer_address : null, 
            spouse_industry : null, 
            spouse_office_phone_number : null, 
            spouse_email_or_website : null, 
            children : null
        },
        
        columns: [],  
        step:1,        
         
    };
  },

  computed: {
      ...mapState("customer", ["errors"]),  
  },

  methods: {   

    save: async function() { 
          
        this.loading = true; 

        this.form.children = JSON.stringify(this.columns); 
        this.$store.commit("customer/setData", this.form);
        await this.$store
        .dispatch("customer/create")
        .then(() => {  
            if(this.errors == null) {
                console.log("success!"); 
            }
        });  

        this.loading = false;
    },  

    errorMessage(field) {   
         
        if (this.errors == null) {
            return "";
        }     
        return this.errors.errors[field];
    },
    
    isValid(field) { 
        if (this.errors == null) {
            return false;
        } 
        return this.errors.errors[field] ? false : true;
    },
 
    prev() {
      this.step--;
    },
    next() {  
      this.step++;
    },
    
    addColumn() { 
      this.columns.push({
            name: "", 
            age:"", 
            sex:"", 
            birthday:""
        }); 
    },
    deleteColumn(index) { 
        this.columns.splice(
            index,
            1
        );
    },
  }
};
</script>
<style>
</style>
