<template>
  <div>  
    <card class="card" :title="title">
      <div class="row clearfix">
          <div class="col-md-10">
              <form class="form-inline">
                <div class="form-group mb-2">
                    <b-input-group>
                      <b-input-group slot="append">
                          <i class="icon-calendar"></i>
                      </b-input-group>
                      <datepicker
                          :config="daterangeConfig"
                          :v-model="filter.date">
                      </datepicker>
                    </b-input-group> 
                </div>
                <div class="form-group mx-sm-3 mb-2">
                  <b-input-group prepend=" ">
                    <b-form-input @keyup.native="search(true)" placeholder="Search" v-model="filter.keyword"></b-form-input> 
                  </b-input-group>
                </div>
                
              </form>
          </div> 
          <div class="col-md-2">
            <router-link to="/customer/add">
                <b-button  block variant="info btn-table-add"  ><span class="ti-plus"></span> New Customer </b-button>
            </router-link> 
            <br />
            <br /> 
          </div> 
      </div>  

      <div class="row">
        <div class="col-md-12">

          <b-table 
            class="table table-hover table-light"
            show-empty 
            :items="list"
            :empty-text="(loading) ? 'Loading data' : 'Empty Result'"
            :fields="fields"
            :current-page="currentPage"
            responsive
            > 
              <template v-slot:cell(no)="data">
                {{ data.index + 1}}
              </template>
              <template v-slot:cell(name)="data">
                  <i class="fa fa-user"></i> {{ data.item.firstname }} {{ data.item.lastname }} 
              </template>
              
              <template v-slot:cell(actions)="data">
                  <div class="btn-group">
                      <button type="button" 
                              class="btn btn-sm btn-primary" 
                              data-toggle="tooltip" 
                              title="View Vehicles"
                              @click="viewVehicles(data)">
                          <i class="fa fa-fw fa-eye"></i>
                      </button> 
                  </div>
              
              </template> 
            </b-table>  
        </div>
        <div class="col-lg-12">
              <b-row>
                  <b-col>
                      <div class="mt-1">
                          <span class="pagination-indicator">Showing {{ currentFirstItem }} to {{ currentLastItem }} of {{ maxPage}} pages</span>
                      </div>
                  </b-col>
                  <b-col>
                      <b-pagination
                      hide-goto-end-buttons
                      align="right"
                      size="md"
                      :total-rows="(totalPerPage > 0 ) ? maxPage * totalPerPage : 1"
                      :limit="(totalPerPage > 0 ) ? 5 : 1"
                      :per-page="totalPerPage"
                      @change="paginate"
                      class="custom-pagination">
                      </b-pagination>
                  </b-col>
              </b-row>
          </div> 
      </div>  
     
    </card>
    
  </div>
</template>
<script> 
import { mapState, mapGetters} from "vuex"; 
import Datepicker from "vue-bulma-datepicker";  

export default {
  components: { 
    Datepicker
  },
  
  data() {
    let self = this;
    return { 
        title: "Customers",
        filter: {
            keyword: null,
            field: 'all',
            dateFrom: null,
            dateTo: null
        },
        daterangeConfig: {
            altInput: true,
            altFormat: "M j, Y",
            dateFormat: "Y-m-d",
            static: true,
            mode: "range",
            defaultDate: ["today", "today"],
            onChange: function(selectedDates) {
                let filterDate = selectedDates;
                self.filter.dateFrom = self.$moment(filterDate[0]).format("YYYY-MM-DD");
                self.filter.dateTo = self.$moment(filterDate[1]).format("YYYY-MM-DD");

                self.selectedDate(selectedDates); 
            }
        },
        //table 
        perPage: 10,
        value: 0,
        totalRows: 1,
        fields: [
            "no", 
            {
                key: "name",
                label: "Name",
                sortable: true, 
            }, 
            {
                key: "email",
                label: "Email",
                sortable: true
            },
            {
                key: "phone_number",
                label: "Phone",
                sortable: true
            },
            {
                key: "mobile_number",
                label: "Mobile #",
                sortable: true
            },
            "actions" 
        ],

         
    };
  },
  
  computed: { 
      ...mapState("customer", [
          "list",
          "page",
          "maxPage",
          "nextPage",
          "prevPage",
          "currentPage",
          "totalPerPage", 
          "currentFirstItem",
          "currentLastItem",  
          "loading", 
          "errors", 
      ]), 
  }, 

  created() { 
      this.initPage(); 
  },
  
  methods: { 
    async getCustomers(page) { 
        await this.$store.dispatch("customer/getList", page);
    },

    async initPage() {
        this.search();
        await this.getCustomers(1);        
    },

    paginate(page) {  
        return this.getCustomers(page);
    },
  
    search(newSearch = false) {
      let param = {
          dateFrom: this.filter.dateFrom,
          dateTo: this.filter.dateTo,
          keyword: this.filter.keyword, 
          page: this.currentPage
      };

      this.$store.commit("customer/setData", param);  
      this.getCustomers(this.currentPage);
    },

    selectedDate(value) {
        let range = {};
        if (value.length == 2) {
            range = {
                start: this.$moment(value[0]).format("YYYY-MM-DD"),
                end: this.$moment(value[1]).format("YYYY-MM-DD")
            };

            this.filterDate(range, this.currentPage);
        }
    },

    filterDate(range, page = 1) {
        this.filter.dateFrom = range.start;
        this.filter.dateTo = range.end;

        let param = {
            dateFrom: this.filter.dateFrom,
            dateTo: this.filter.dateTo,
            keyword: this.filter.keyword, 
            page: page
        };
        this.$store.commit("customer/setData", param);   
        this.getCustomers(page);
    },

    viewVehicles(data){   
        this.$router.push({
          path: '/customer/vehicle',
          query: data.item
        });
    },
  }
};
</script>
<style>
</style>
